.rl5 {
  background-image: url('/assets/images/rl-5.png');
  background-position: top left;
  background-size: contain;
  height: 133px;
}
.rl6 {
  background-image: url('/assets/images/rl-6.png');
  background-position: top right;
  background-size: contain;
  height: 133px;
}